.color-common{
    color: white !important;
}

.color-uncommon{
    color: green !important;
}

.color-rare{
    color: steelblue !important;
}

.color-legendary{
    color: goldenrod !important;
}

.color-mythic{
    color: purple !important;
}